<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Demo Test Suite">
    <!--<test name="SimpleFormDemoTest">-->
        <!--<parameter name="message" value="Haha"/>-->
        <!--<parameter name="a" value="1"/>-->
        <!--<parameter name="b" value="9"/>-->
        <!--<classes>-->
            <!--<class name="seleniumdemo.tests.inputforms.SimpleFormDemoTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <test name="CheckBoxDemoTest">
        <parameter name="options" value="OPTION1"/>
        <classes>
            <class name="seleniumdemo.tests.inputforms.CheckBoxDemoTest"/>
        </classes>
    </test>
    <!--<test name="RadioButtonsDemoTest">-->
        <!--<parameter name="type" value="MALE"/>-->
        <!--<parameter name="sexType" value="MALE"/>-->
        <!--<parameter name="ageGroupType" value="ZERO_TO_FIVE"/>-->
        <!--<classes>-->
            <!--<class name="seleniumdemo.tests.inputforms.RadioButtonsDemoTest"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>